element {
  --bg-cream: #fefae0
  --text-dark-green: #283618
  --text-light-green: #606c38
  --text-dark-brown: #bc6c25
  --text-light-brown: #dda15e
}

body{
  background-color: #DCCDBA;
}
#nav-bar{
  display: flex;
  flex-direction: row;
  background-color: #594E3B;
  border-radius: 20px;
}
#item-div{
  width: 100%;
  display: flex;
  justify-content: end;
}
#ul-nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 40px;
  align-content: end;
  align-self: flex-end;
  align-items: center;
  width: 90%;
}
#container-home{
  width: 50%;
}
a {
  text-decoration: none;
  color: black;
}
.nav-text{
  color: #DCCDBA;
}
.hoverOver {
  color: red;
}
li {
  list-style: none;
}
.greeting {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 60px;
}
#greeting-text {
  font-size: 50px;
  color: black;
}
#front-text-container {
  text-align: center;
}
#img-fp {
  border: 1px solid black;
  border-radius: 10px;
}
#about-title{
  text-align: start;
}
#about-container {
  width: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#about-text{
  width: 50%;
  line-height: 28px;
  text-align: center;
}
#project-title {
  text-align: justify;
  padding-left: 15px;

}
#project-container {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
}
.project-item {
  width: 550px;
  height: 245px;
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.project-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.project-img-container {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 90%;
  height: 100%;
  cursor: pointer;
}
.project-img-hover {
  box-shadow: 10px;
}
.project-img {
  width: 80%;
  height: 800%;
  border-radius: 10px;
}
.project-h3 {
  text-align: justify;

}
.hoverH3{
  text-align: justify;
  color: red;
}
.project-p {
  width: 85%;
  height: 250px;
  text-align: justify;
  justify-content: center;
  align-content: center;
}
.project-btn {
  justify-content: center;
  align-content: center;
  width: 60%;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 0.5px solid black;
  background-color: white;
}
.btn-hover{
  justify-content: center;
  align-content: center;
  width: 60%;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 0.5px solid black;
  background-color: black;
  color: white;
}
#contact-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.contact-text{
  padding: 15px;
}
.hoverOverIconLinked {
  background: white;
  border-radius: 2px;
}
.hoverOverIconGit {
  background: white;
  border-radius: 100px;
}
