body {
  background-color: #f2e9e4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
h2 {
  font-family: 'Rock Salt', cursive;
}
/* home page */
#nav-bar {
  display: flex;
  flex-direction: row;
  background-color: #4a4e69;
  border-radius: 20px;
}
#item-div {
  width: 100%;
  display: flex;
  justify-content: end;
}
#ul-nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 40px;
  align-items: center;
  width: 90%;
}
#container-home {
  width: 70%;
}
a {
  text-decoration: none;
  color: black;
}
.nav-text {
  font-family: 'Rock Salt', cursive;
  color: #f2e9e4;
}
.hoverOver {
  font-family: 'Rock Salt', cursive;
  color: #22223b;
}
li {
  list-style: none;
}
.greeting {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* justify-content: end; */
  /* gap: 100px; */
  margin-top: 60px;
}
#greeting-text {
  font-family: 'Rock Salt', cursive;
  font-size: 40px;
}
.font {
  color: #4a4e69;
  font-family: 'Rock Salt', cursive;
  font-size: 20px;
}
#front-text-container {
  text-align: center;
  justify-content: center;
  /* align-content: center; */
  align-items: center;
}
#img-fp {
  border-radius: 200px;
  width: 300px;
}
/* about page */
.about-title {
  display: block;
  text-align: center;
}
#modal {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: auto;
  display: none;
}
#modal-textbox {
  background-color: white;
  height: 20%;
  width: 45%;
  border-radius: 10px;
  margin: 150px auto;
  padding: 2%;
  line-height: 120%;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}
#modal-footer {
  text-align: center;
}
.modal-btns {
  width: 100px;
  background-color: #22223b;
  border: none;
  outline: none;
  border-radius: 10px;
  color: white;
  font-family: 'Rock Salt', cursive;
  cursor: pointer;
}
#about-text {
  font-size: 21px;
  width: 100%;
  line-height: 28px;
  text-align: center;
}
/* resume page */
#resume-title {
  margin-left: 20px;
}
.resume {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -75px;
}
.bullet > li {
  text-align: start;
  list-style: circle;
}
#city-resume {
  margin-top: -20px;
}
.section {
  text-align: center;
}
.section > h2 {
  font-family: 'Times New Roman', Times, serif;
}
.link {
  text-decoration: underline;
}

/* project page */
#project-title {
  text-align: justify;
  padding-left: 15px;
}
#project-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.project-item {
  width: 33%;
  height: 100%;
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.project-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.project-img-container {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 90%;
  cursor: pointer;
}
.project-img {
  width: 80%;
  height: 800%;
  border-radius: 10px;
}
.project-h3 {
  font-size: large;
  text-align: center;
  color: black;
}
.hoverH3 {
  text-align: center;
  font-size: larger;
  color: #22223b;
}
.project-p {
  width: 85%;
  text-align: center;
  justify-content: center;
  align-content: center;
}
.project-btn {
  justify-content: center;
  align-content: center;
  width: 60%;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 0.5px solid #22223b;
  background-color: #f2e9e4;
  color: #22223b;
}
.btn-hover {
  justify-content: center;
  align-content: center;
  width: 60%;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 0.5px solid #22223b;
  background-color: #22223b;
  color: #f2e9e4;
}
/* contact page */
#contact-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  gap: 150px;
}
.contact-text {
  padding: 15px;
}
.hoverOverIconLinked {
  background: white;
  border-radius: 2px;
}
.hoverOverIconGit {
  background: white;
  border-radius: 100px;
}

footer{
  margin-top: auto;
  margin-bottom: 10px;
}
/* Responsiveness */

@media (max-width: 1024px) {
  .greeting {
    display: flex;
    flex-direction: column;
  }
  #ul-nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 20px;
  }
  .nav-text {
    font-size: medium;
  }
  .hoverOver {
    font-size: medium;
  }
  #item-div {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  #container-home {
    width: 0px;
  }
  #img-fp {
    width: 350px;
  }
  #fp-img-container {
    margin: 0 auto;
  }
  #about-text {
    width: 100%;
    font-size: medium;
  }
  #project-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
  }
  .project-h3 {
    font-size: medium;
  }
  .project-item {
    width: 85%;
  }
  .link-img {
    display: flex;
  }
  #project-container {
    height: 720px;
  }
  .project-p {
    text-align: center;
    width: 100%;
    font-size: small;
    margin-right: 20px;
    margin-top: -10px;
  }
  .project-img {
    width: 50%;
    margin: 0 auto;
  }
  .project-h3 {
    font-size: large;
    text-align: center;
    color: black;
  }
  .hoverH3 {
    text-align: center;
    font-size: larger;
    color: #22223b;
  }
  .project-btn {
    justify-content: center;
    align-content: center;
    width: 45%;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 0.5px solid #22223b;
    background-color: #f2e9e4;
    font-size: x-small;
    color: #22223b;
  }
  .btn-hover {
    justify-content: center;
    align-content: center;
    width: 45%;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 0.5px solid #22223b;
    background-color: #22223b;
    color: #f2e9e4;
    font-size: x-small;
  }
  /* #contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  } */
  /* .icon {
    width: 48px;
  } */
}
